* {

    box-sizing: border-box;

}

body{

    font-family: Inter, Italiana;
    margin: 0;
    background-color: #AEC29A;
    overflow: hidden;

}

.navbar {

    z-index: 10;
    overflow: hidden;
    background-color: #84A45C;
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    height: 74px;

}

.navbar a {

    position: relative;
    float: left;
    top: 20%;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 20px;
    margin-left: 60px;
    text-decoration: none;
    font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.navbar a#signup{

    background-color: white;
    height: 50px;
    border-radius: 30px;
    color: #172512;
    font-weight: 800;

}
.navbar a#logo{

    color: white;
    font-weight: 1000;
    margin-left: 20px;
    font-family: Kodchasan, Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.navbar a:hover{

    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;

}

.square{
    
    z-index: 9;

    position: absolute;

    top: 20%;
    left: 8%;

    height: 600px;
    width: 1035px;
    background-color: #468149;

}

.image{

    z-index: 8;

    position: absolute;

    right: 0;

    height: 100vh;
    width: calc(100vh * 1880/2840);
    background-image: url("suculentacut.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: cover;
    background-size: auto;

}


