body {

    background: #AEC29A;

}

header {

    position: absolute;
    top: 0%;
    left: 0%;
    height: 80px;
    width: 100%;
    background: #84A45C;

}

header a {

    align-content: flex-end;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;


}

.cont {

    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;

}